<template>
  <div class="home">
    <b-row>
      <b-col cols="8">
        <MapContainer ref="mmap"></MapContainer>
      </b-col>
      <b-col>
        <h2>Info</h2>
        <button id="external-button" @click="$refs.mmap.move('my device',3.571912, 98.6621712);">External Button</button>
        <ul>
          <li> Device Name: <span id="device_name"></span>
          </li>
        </ul>
      </b-col>
    </b-row>
    
  </div>
</template>
<script>
import MapContainer from "@/components/MapContainer";
export default {
  name: "Home",
  components: {
    MapContainer,
  },
};
</script>
