<template>
     <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand href="#">Emergency Monitor</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      
      </b-navbar>
    
</template>

<script>


export default {
  name: "AppNavbar",

};
</script>