<template>
  <div
    ref="map-root"
    style="width: 100%; height: 80vh; position: absolute; top: 0px"
  ></div>
</template>

<script>
import View from "ol/View";
import Map from "ol/Map";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import VectorLayer from "ol/layer/Vector";
import VectorSource from "ol/source/Vector";
import Feature from "ol/Feature";
import { fromLonLat, transform } from "ol/proj";
import Point from "ol/geom/Point";
import MapStyle from "ol/style/Style";
import MapIcon from "ol/style/Icon";

// importing the OpenLayers stylesheet is required for having
// good looking buttons!
import "ol/ol.css";

export default {
  name: "MapContainer",
  components: {},
  props: {},
  data() {
    return {
      map: null,
      viewer: null,
      markers: [],
    };
  },
  methods: {
    addMarker(device_name, lat, lon , icon = null) {
      if (icon == null) {
        icon = require("@/assets/img/ambulance-pin.png");
      }
      lat = parseFloat(lat);
      lon = parseFloat(lon);
      let location = transform([lon, lat], "EPSG:4326", "EPSG:3857");

      let marker = new Feature({
        geometry: new Point(location),
        type: "click",
        desc: device_name,
        other: "this is map",
      });
      marker.name = device_name;
      let vectorSource = new VectorSource({
        features: [marker],
      });
      let markerVectorLayer = new VectorLayer({
        source: vectorSource,
        style: new MapStyle({
          image: new MapIcon({
            anchor: [0.0, 0.8],
            anchorXUnits: "fraction",
            anchorYUnits: "fraction",
            src: icon,
          }),
        }),
      });
      this.markers.push(marker);
      this.map.addLayer(markerVectorLayer);
    },
    showMarkerInfo(feature) {
      //TODO:SHOW Marker
      this.$bus.$emit("show-marker-info", feature);
    },
    zoomToMarker(feature) {
      let coordinates = feature.getGeometry().getCoordinates();
      this.viewer.animate({
        center: coordinates,
        duration: 1000,
        zoom: 18,
      });
    },
    showInfo(coordinate) {
      var features = this.map.getFeaturesAtPixel(
        this.map.getPixelFromCoordinate(coordinate),
        {
          hitTolerance: 2,
        }
      );

      if (!features || features.length == 0) {
        return;
      }
      var feature = features[0];
      var name = feature.get("desc");
      if (!name) {
        return;
      }

      var el_name = document.querySelector("#device_name");
      el_name.innerText = name;
    },
    moveMarker(device_name, lat, lon) {
      let item = this.getMarker(device_name);
      if (item) {
        let newlocation = transform([lon, lat], "EPSG:4326", "EPSG:3857");
        item.getGeometry().setCoordinates(newlocation);
        console.log(device_name + " moved!");
      }
    },
    getMarker(device_id) {
      const feature = this.markers.filter((marker) => {
        return marker.name == device_id;
      });
      if (feature && feature.length > 0) {
        return feature[0];
      }
      return null;
    },
    clearAllMarker(){
      
    }
  },
  created() {
    this.$bus.$on("ws-incomming-message", (payload) => {
      switch (payload.type) {
        case "ambulance-list":
          //TODO: show ambulance list

          payload.content.forEach((item) => {
            this.addMarker( item.device_id,item.latitude, item.longitude);
          });

          break;
        case "ambulance-status":
          //TODO: move ambulance marker to new position and update status
          {
            let ambulance = payload.content;
            this.moveMarker(
              ambulance.device_id,
              ambulance.latitude,
              ambulance.longitude
            );
          }
          break;
        case "new-ambulance":
          //TODO: add new ambulance to list
          break;
        case "new-case-alert":
          //TODO: show new emergency marker
          break;
        case "new-case-handled":
          //TODO: remove new emergency marker
          break;

        default:
      }
    });

    this.$bus.$on("zoom-to-marker", (device_id) => {
      console.log("device_id ", device_id);
      const feature = this.getMarker(device_id);
      if (feature) {
        this.zoomToMarker(feature);
      }
    });
  },
  mounted() {
    // this is where we create the OpenLayers map
    this.viewer = new View({
      zoom: 11.5,
      center: fromLonLat([98.6611712, 3.581712]),
      constrainResolution: true,
    });
    this.map = new Map({
      // the map will be created using the 'map-root' ref
      target: this.$refs["map-root"],
      layers: [
        // adding a background tiled layer
        new TileLayer({
          source: new OSM(), // tiles are served by OpenStreetMap
        }),
      ],

      // the map view will initially show the whole world
      view: this.viewer,
    });

    /*set map events*/
    var __self = this;

    this.map.on("singleclick", function (evt) {
      var feature = this.forEachFeatureAtPixel(evt.pixel, function (feature) {
        console.log("feature", feature.name);
        return feature;
      });

      if (feature) {
        __self.showMarkerInfo(feature);

        // var coord = feature.getGeometry().getCoordinates();
        //__self.showInfo(coord);
      }
    });

    //this.addMarker(3.571712, 98.6611712, "my device");
    //this.addMarker(3.568512, 98.702451, "my device2");
  },
};
</script>
