<template>
  <div id="app">
    <AppNavbar />
    <b-container fluid class="pt-3 mb-4" style="min-height: 60vh">
      <router-view />
    </b-container>
  </div>
</template>

<script>
import AppNavbar from "@/components/AppNavbar";
export default {
  name: "App",
  components: {
    AppNavbar,
  },
};
</script>

<style lang="scss">
@import "~@/assets/scss/vendors/bootstrap-vue/index";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
